In [2]:
import json

# Ouverture du fichier JSON
with open('databaseJSON.json', 'r') as f:
    data = json.load(f)
ind = 20
listVille = []
associatedFeature = []
nbrePlace = []
nbreParking = []
# Boucle sur chaque enregistrement
for record in data['records']:
    
    # Extraction des informations du parking
    idParking = ind
    nameParking = record['fields']['name']
    nbrPlace = record['fields']['space_count']
    try :
        prix_1h = record['fields']['cost_1h']
    except :
        prix_1h = "NULL"
    estGratuit = record['fields']['is_free']
    try :
        hauteur = record['fields']['max_height']
    except :
        hauteur = 500.0
    idLocalisation = ind+1
    idPlaceSpeciales = ind+2
    
    # Requête SQL pour insérer les informations du parking dans la table "parking"
    query_parking = "INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES ({}, '{}', {}, {}, {}, {}, {}, {});".format(idParking, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales)
     # Affiche la requête SQL générée
    ind +=1
    # Extraction des informations de la localisation
    
    
    # Extraction des informations des places spéciales
    idPlaceSpeciales = ind # Vérifie si l'enregistrement a des places spéciales
    try :
        nbrVoitureElectrique = record['fields']['electric_car_count']
    except :
        nbrVoitureElectrique = 0
    try :
        nbrVelos = record['fields']['bike_count']
    except :
        nbrVelos = 0
    #nbrConvoiturage = record['fields']['cost_1h'] on a pas ?
    #nbrHandicapes = record['fields']['cost_1h']
        # Requête SQL pour insérer les informations de la place spéciale dans la table "places_speciales"
    query_place_speciale = "INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES ({}, {}, {});".format(idPlaceSpeciales, nbrVelos,nbrVoitureElectrique)
         # Affiche la requête SQL générée
    ind +=1
    # Extraction des informations de la ville
    if record['fields']['com_name'] not in listVille:
        #idVille = id
        #depVille = record['fields']['dep_code']
        #nom = record['fields']['com_name']
        #regVille = record['fields']['reg_name']
        listVille.append(record['fields']['com_name'])
        associatedFeature.append([int(record['fields']['dep_code']),(record['fields']['reg_name'])])
        nbrePlace.append(nbrPlace)
        nbreParking.append(1)
    else :
        index_ville = listVille.index(record['fields']['com_name'])
        nbrePlace[index_ville]+=nbrPlace
        nbreParking[index_ville]+=1
        
       
    id_localisation = ind 
    xlong = record['fields']['xlong']
    ylat = record['fields']['ylat']
    adresse = record['fields']['address']
    photo = "photo"+str(record['fields']['name'])
    idVille = listVille.index(record['fields']['com_name'])
    
    # Requête SQL pour insérer les informations de la localisation dans la table "localisation"
    query_localisation = "INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES ({}, '{}', '{}', {},{},{});".format(id_localisation, adresse, photo, idVille,xlong,ylat)
    print(query_localisation) # Affiche la requête SQL générée
    #print(query_place_speciale)
    #print(query_parking)
    # Requête SQL pour insérer les informations de la ville dans la table "ville"
    #query_ville = "INSERT INTO ville (insee_code, dep_code, com_name, reg_name) VALUES ('{}', '{}', '{}', '{}');".format(insee_code_ville, dep_code_ville, com_name_ville,reg_name_ville)
    ind+=1
for i in range(len(listVille)):
    idVille = i
    depVille = associatedFeature[i][0]
    nom = listVille[i]
    regVille = associatedFeature[i][1]
    nbre_Place = nbrePlace[i]
    nbre_Parking = nbreParking[i]
    query_ville = "INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES ({}, '{}', {}, {}, {}, '{}');".format(idVille, nom, nbre_Parking, nbre_Place,depVille,regVille)
    #print(query_ville)

INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (22, 'Avenue des Nations Unies, 59170, Roubaix', 'photoParking GRAND RUE', 0,3.177525,50.693243);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (25, 'Avenue Carnot, 59000, Lille', 'photoParking Opera', 1,3.065424,50.638435);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (28, 'Boulevard d'Alsace, 59000, Lille', 'photoPorte d Arras', 1,3.063771,50.617395);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (31, 'Place de la Republique, 59000, Lille', 'photoParking Republique', 1,3.063227,50.631121);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (34, 'Place du General de Gaulle, 59000, Lille', 'photoParking Grand Place', 1,3.063572,50.637164);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (37, 'Rue Neuve, 59170, Roubaix', 'photoParking CENTRE', 0,3.172115,50.691085);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (40, 'Avenue Allende, 59200, Tourcoing', 'photoParking Miss Cavell', 2,3.163254,50.721884);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (43, 'Avenue Nelson Mandela, 59160, Capinghem', 'photoSaint Philibert', 1,2.973841,50.652757);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (46, 'Rue de la Bienfaisance, 59200, Tourcoing', 'photoParking Hotel de Ville', 2,3.15888,50.724525);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (49, 'Place Rihour, 59000, Lille', 'photoParking Rihour-Printemps', 1,3.061491,50.635426);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (52, 'place Bartelemy Dorez, 59000, Lille', 'photoPorte des Postes', 1,3.049734,50.617532);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (55, 'Rue du president Vincent Auriol, 59170, Roubaix', 'photoParking CHURCHILL', 0,3.179114,50.689646);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (58, 'Rue des Anges, 59200, Tourcoing', 'photoParking St Christophe', 2,3.161136,50.720113);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (61, '89 rue Nationale, 59000, Lille', 'photoParking Plaza', 1,3.058286,50.635117);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (64, '70 rue du Molinel, 59000, Lille', 'photoParking Les Tanneurs', 1,3.067206,50.63429);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (67, 'Rue du pont de Neuville,59200, Tourcoing', 'photoPont de Neuville', 2,3.172714,50.736423);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (70, '6 rue de la Riviere, 59000, Lille', 'photoParking Bethune-Lafayette', 1,3.063982,50.634176);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (73, '2 Avenue Henri Poincare, 59350, Villeneuve d'Ascq', 'photo4 Cantons', 3,3.139688,50.604783);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (76, 'Avenue Jean Baptiste Lebas, 59480, La Bassee', 'photoLa Bassee', 4,2.806611,50.528531);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (79, 'Facade de l'Esplanade, 59000, Lille', 'photoParking Liberte', 1,3.050832,50.639235);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (82, 'Boulevard Eugene Duthoit, 59000, Lille', 'photoCHU – Eurasante', 1,3.040294,50.607857);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (85, 'Rue de Tournai, 59000, Lille', 'photoParking Gare Lille Flandres', 1,3.072647,50.635078);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (88, 'Quai de la Deule,59136, Sainghin en weppes', 'photoDon Sainghin', 5,2.913822,50.550654);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (91, 'Facade Esplanade, 59000, Lille', 'photoParking Petit Paradis', 1,3.051999,50.641859);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (94, 'Avenue du Peuple Belge, 59000, Lille', 'photoParking Vieux Lille', 1,3.064014,50.64157);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (97, 'Rue de Wattiessart, 59113, Seclin', 'photoSeclin', 6,3.033634,50.456625);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (100, '11 Place Pierre Semard, 59200, Tourcoing', 'photoGare de Tourcoing', 2,3.166386,50.716665);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (103, 'Rue Charles Watteeuw, 59170, Roubaix', 'photoParking Mac Arthur Glen (Lannoy Gambetta)', 0,3.181478,50.690567);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (106, 'Place de la Gare, 59280, Armentieres', 'photoArmentieres', 7,2.912855,50.550682);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (109, 'Avenue de Cologne, 59000, Lille', 'photoParking Gare Lille Europe', 1,3.076132,50.63994);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (112, '164 Avenue Willy Brandt, 59000, Lille', 'photoParking Euralille', 1,3.074475,50.636436);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (115, '19 place Mendes France,59000, Lille', 'photoParking Nouveau Siecle', 1,3.059429,50.637454);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (118, 'Boulevard de Turin, 59000, Lille', 'photoParking Tours', 1,3.076676,50.638793);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (121, 'Rue du moulin Delmar, 59650, Villeneuve d'Ascq', 'photoLes Pres 1', 1,3.126204,50.650274);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (124, 'Rue de la Halle, 59170, Roubaix', 'photoParking LA POSTE', 0,3.175878,50.690799);
INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES (127, 'Boulevard des Cites Unies, 59000, Lille', 'photoParking Grand Palais', 1,3.078589,50.631408);