In [13]:
import json

# Ouverture du fichier JSON
with open('databaseJSON.json', 'r') as f:
    data = json.load(f)
ind = 20
listVille = []
associatedFeature = []
nbrePlace = []
nbreParking = []
# Boucle sur chaque enregistrement
for record in data['records']:
    
    # Extraction des informations du parking
    idParking = ind
    nameParking = record['fields']['name']
    nbrPlace = record['fields']['space_count']
    try :
        prix_1h = record['fields']['cost_1h']
    except :
        prix_1h = 0
    estGratuit = record['fields']['is_free']
    try :
        hauteur = record['fields']['max_height']
    except :
        hauteur = 500.0
    id_localisation = ind+1
    idPlaceSpeciales = ind+2
    
    # Requête SQL pour insérer les informations du parking dans la table "parking"
    query_parking = "INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES ({}, '{}', {}, {}, {}, {}, {}, {});".format(idParking, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, id_localisation, idPlaceSpeciales)
     # Affiche la requête SQL générée
    ind +=1
    # Extraction des informations de la localisation
    
    
    # Extraction des informations des places spéciales
    
    try :
        nbrVoitureElectrique = record['fields']['electric_car_count']
    except :
        nbrVoitureElectrique = 0
    try :
        nbrVelos = record['fields']['bike_count']
    except :
        nbrVelos = 0
    #nbrConvoiturage = record['fields']['cost_1h'] on a pas ?
    #nbrHandicapes = record['fields']['cost_1h']
        # Requête SQL pour insérer les informations de la place spéciale dans la table "places_speciales"
    query_place_speciale = "INSERT INTO placespeciales (id, nbrVelo,nbrVoitureElectrique,nbrHandicapes,nbrCovoiturage) VALUES ({}, {}, {},{},{});".format(idPlaceSpeciales, nbrVelos,nbrVoitureElectrique,0,0)
         # Affiche la requête SQL générée
    ind +=1
    # Extraction des informations de la ville
    if record['fields']['com_name'] not in listVille:
        #idVille = id
        #depVille = record['fields']['dep_code']
        #nom = record['fields']['com_name']
        #regVille = record['fields']['reg_name']
        listVille.append(record['fields']['com_name'])
        associatedFeature.append([int(record['fields']['dep_code']),(record['fields']['reg_name'])])
        nbrePlace.append(nbrPlace)
        nbreParking.append(1)
    else :
        index_ville = listVille.index(record['fields']['com_name'])
        nbrePlace[index_ville]+=nbrPlace
        nbreParking[index_ville]+=1
    xlong = record['fields']['xlong']
    ylat = record['fields']['ylat']
    adresse = record['fields']['address']
    photo = "photo"+str(record['fields']['name'])
    idVille = listVille.index(record['fields']['com_name'])
    
    # Requête SQL pour insérer les informations de la localisation dans la table "localisation"
    query_localisation = "INSERT INTO localisation (id, adresse, photo, ville_id,xlong,ylat) VALUES ({}, '{}', '{}', {},{},{});".format(id_localisation, adresse, photo, idVille,xlong,ylat)
    #print(query_localisation) # Affiche la requête SQL générée
    #print(query_place_speciale)
    print(query_parking)
    # Requête SQL pour insérer les informations de la ville dans la table "ville"
    #query_ville = "INSERT INTO ville (insee_code, dep_code, com_name, reg_name) VALUES ('{}', '{}', '{}', '{}');".format(insee_code_ville, dep_code_ville, com_name_ville,reg_name_ville)
    ind+=1
for i in range(len(listVille)):
    idVille = i
    depVille = associatedFeature[i][0]
    nom = listVille[i]
    regVille = associatedFeature[i][1]
    nbre_Place = nbrePlace[i]
    nbre_Parking = nbreParking[i]
    query_ville = "INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES ({}, '{}', {}, {}, {}, '{}');".format(idVille, nom, nbre_Parking, nbre_Place,depVille,regVille)
    #print(query_ville)

INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (20, 'Parking GRAND RUE', 1286, 1.4, 0, 215.0, 21, 22);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (23, 'Parking Opera', 546, 1.7, 0, 190.0, 24, 25);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (26, 'Porte d Arras', 100, 0, 1, 200.0, 27, 28);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (29, 'Parking Republique', 353, 1.4, 0, 190.0, 30, 31);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (32, 'Parking Grand Place', 422, 2.8, 0, 180.0, 33, 34);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (35, 'Parking CENTRE', 80, 1.2, 0, 500.0, 36, 37);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (38, 'Parking Miss Cavell', 273, 0.8, 0, 190.0, 39, 40);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (41, 'Saint Philibert', 311, 0, 1, 220.0, 42, 43);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (44, 'Parking Hotel de Ville', 434, 0.8, 0, 190.0, 45, 46);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (47, 'Parking Rihour-Printemps', 300, 2.0, 0, 220.0, 48, 49);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (50, 'Porte des Postes', 90, 0, 1, 200.0, 51, 52);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (53, 'Parking CHURCHILL', 505, 1.9, 0, 190.0, 54, 55);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (56, 'Parking St Christophe', 757, 0.8, 0, 190.0, 57, 58);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (59, 'Parking Plaza', 300, 0, 0, 190.0, 60, 61);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (62, 'Parking Les Tanneurs', 563, 2.8, 0, 180.0, 63, 64);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (65, 'Pont de Neuville', 42, 0, 1, 210.0, 66, 67);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (68, 'Parking Bethune-Lafayette', 595, 0, 0, 500.0, 69, 70);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (71, '4 Cantons', 2088, 0, 1, 200.0, 72, 73);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (74, 'La Bassee', 166, 0, 1, 200.0, 75, 76);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (77, 'Parking Liberte', 525, 1.6, 0, 500.0, 78, 79);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (80, 'CHU – Eurasante', 250, 0, 1, 200.0, 81, 82);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (83, 'Parking Gare Lille Flandres', 374, 3.1, 0, 185.0, 84, 85);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (86, 'Don Sainghin', 467, 0, 1, 200.0, 87, 88);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (89, 'Parking Petit Paradis', 293, 1.2, 0, 500.0, 90, 91);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (92, 'Parking Vieux Lille', 312, 2.0, 0, 190.0, 93, 94);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (95, 'Seclin', 370, 0, 1, 210.0, 96, 97);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (98, 'Gare de Tourcoing', 90, 0, 1, 500.0, 99, 100);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (101, 'Parking Mac Arthur Glen (Lannoy Gambetta)', 1261, 0, 0, 190.0, 102, 103);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (104, 'Armentieres', 450, 0, 1, 210.0, 105, 106);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (107, 'Parking Gare Lille Europe', 806, 1.9, 0, 190.0, 108, 109);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (110, 'Parking Euralille', 2796, 1.9, 0, 190.0, 111, 112);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (113, 'Parking Nouveau Siecle', 933, 1.3, 0, 230.0, 114, 115);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (116, 'Parking Tours', 1074, 1.9, 0, 190.0, 117, 118);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (119, 'Les Pres 1', 550, 0, 1, 210.0, 120, 121);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (122, 'Parking LA POSTE', 80, 0, 0, 500.0, 123, 124);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES (125, 'Parking Grand Palais', 1165, 1.9, 0, 280.0, 126, 127);